.header, .top, .footer {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.bottom {
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button, .ad {
    background-color: #3882F6;
}